[submodule "core-v-verify"]
	path = core-v-verify
	url = https://github.com/openhwgroup/core-v-verif.git
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
[submodule "verilator"]
	path = verilator
	url = https://github.com/verilator/verilator.git
